<h1>About Me: Ari</h1>

<ul>
  <li>I have a cat named Mookie.</li>
  <li>I play the glockenspiel.</li>
  <li>I fix vintage bowling machines for a living.</li>
</ul>
<p>Find me in app/views/about/index.html.erb</p>
